NODE_ENV=development
PORT=4100
TZ=Asia/Bangkok

FRONTEND_BASE_URL=http://localhost:4200
API_BASE_URL=http://localhost:4100

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=moph_backoffice
DB_USER=root
DB_PASSWORD=changeme

MYMOPH_DB_HOST=127.0.0.1
MYMOPH_DB_PORT=3306
MYMOPH_DB_NAME=mymoph
MYMOPH_DB_USER=root
MYMOPH_DB_PASSWORD=changeme

MYMOPH_TABLE_ATTENDANCE_LOGS=attendance_logs
MYMOPH_TABLE_PAYROLL_RUNS=payroll_runs
MYMOPH_TABLE_CHECKIN_OFFICES=checkin_offices
PDF_FONT_PATH=/System/Library/Fonts/Supplemental/Thonburi.ttf

JWT_ACCESS_SECRET=replace_access_secret
JWT_REFRESH_SECRET=replace_refresh_secret
JWT_ACCESS_EXPIRES=12h
JWT_REFRESH_EXPIRES_DAYS=30

COOKIE_SECURE=false
COOKIE_DOMAIN=localhost
COOKIE_SAME_SITE=lax


MYMOPH_OAUTH_AUTHORIZE_URL=https://auth.moph.go.th/oauth2/auth
MYMOPH_OAUTH_TOKEN_URL=https://auth.moph.go.th/v1/oauth2/token
MYMOPH_OAUTH_USERINFO_URL=https://auth.moph.go.th/v1/userinfo
MYMOPH_CLIENT_ID=replace_client_id
MYMOPH_CLIENT_SECRET=replace_client_secret
MYMOPH_REDIRECT_URI=http://localhost:4100/api/v1/auth/callback
MYMOPH_SCOPE=openid profile cid
